.dir-rtl h5 {
  text-align: right;
}
.dir-rtl ul,
.dir-rtl ol {
  padding-right: 0;
}
.dir-rtl .location-list li {
  text-align: right;
}
.dir-rtl .ingame-player-list li {
  text-align: right;
  float: right;
  padding: 0 0 0 4px;
}
.dir-rtl .access-link {
  direction: ltr;
}
.dir-rtl .lobby-player-list > li {
  text-align: right;
  margin: 0 2em 6px 0;
}
.dir-rtl .lobby-player-list > li:before {
  content: counter(li);
  /* Use the counter as content */
  counter-increment: li;
  /* Increment the counter by 1 */
  /* Position and style the number */
  position: absolute;
  top: 0;
  right: -2em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 2em;
  margin-left: 8px;
  margin-right: 0;
  background: transparent;
  font-weight: bold;
  font-family: "Helvetica Neue", Arial, sans-serif;
  text-align: center;
  background-color: #f9f9f9;
}
.dir-rtl .btn-remove-player {
  float: left;
  right: -4px;
}
.dir-rtl .btn-edit-player {
  position: relative;
  float: left;
  right: -4px;
}
